@font-face {
    font-family: 'dongle-light';
    src: url('/public/font/dongle/Dongle-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jua';
    src: url('/public/font/jua/Jua-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: jua;
    font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* portfolio css */
body{
    background-image: url('/img/background_img.jpg');

    
}


html{

    scrollbar-3dLight-Color: #efefef;
    scrollbar-arrow-color: #dfdfdf;
    scrollbar-base-color: #efefef;
    scrollbar-Face-Color: #dfdfdf;
    scrollbar-Track-Color: #efefef;
    scrollbar-DarkShadow-Color: #efefef;
    scrollbar-Highlight-Color: #efefef;
    scrollbar-Shadow-Color: #efefef;

}


*{
    -ms-user-select: none;
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;

}


.big_title{
    font-size:2em;
    padding: 50px 0px;
}

.skill_img{
    width:200px;
    margin: 30px 0px;
}

.skill_line{
    width: 380px;
    height: 370px;
    box-shadow: 0px 0px 5px #d0d0d0;
    border-radius: 5px;
    background: #ffffff30;
    padding: 20px 0px;
    margin: 0px 13px 37px 13px;
    min-width: 252px;
    display: inline-block;
    vertical-align: bottom;
}

.server_info{
    position: fixed;
    top: 20px;
    left: 20px;
    line-height: 41px;
    font-size: 28px;
    z-index: 100;
    box-shadow: 0px 0px 5px #d0d0d0;
    padding: 15px;
    border-radius: 5px;
    background: #ffffff50;
    cursor: pointer;
}




/**************** 2번 폼 ************************/

.user_form {
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    margin : 0px 0px 100px 0px;
    background: linear-gradient(165deg, rgba(158, 174, 169, 0.5), rgba(173, 157, 132, 0.3));
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    cursor:pointer;
}


.line{
    width: 50%;
    height: 100%;
    margin: auto;
}

.user_form:hover{
    background: linear-gradient(165deg, rgba(121, 179, 161, 0.5), rgba(180, 150, 100, 0.3));
}




.photo {
    background: url('/img/user_photo.jpg') no-repeat 50% 50%/ 100% 100%;
    width: 100px;
    height: 140px;
    border-radius: 50%;
}


.user_info {
    text-align: left;
    font-size: 17px;
    width: 100%;
    height: 150px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    padding : 0px 25px;
}


.univ_info tr{
    border-bottom: 1px solid #fafafa30;
}

.univ_info th{
    border-bottom: 1px solid #d0d0d0;
}


.user_info_ul li {
    padding: 2px 0px;
    list-style : none;
}



.univ_info{
    width: 667px;
    border-spacing: 0;
    border-collapse: collapse;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity: 0;
    margin: auto;
}




.univ_info th, .univ_info td{
    text-align:center;
    padding: 11px 5px;
 
}







/***************** 2번 폼 **************************/

.user_career {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0px auto 100px auto;
    text-align: center;
    background: linear-gradient(165deg, rgba(158, 174, 169, 0.5), rgba(173, 157, 132, 0.3));
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    cursor:pointer;
    padding:50px 0px;
}


.user_career:hover{
    background: linear-gradient(165deg, rgba(121, 179, 161, 0.5), rgba(180, 150, 100, 0.3));
}

.user_career_info{
    padding:60px 0px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 667px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    display: inline-block;
}


.user_career_reason {
    position: relative;
    top:60px;
  
    font-size: 17px;
    width: 100%;
    height: 150px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
   
    font-size:15px;
    opacity:0;
}



.user_career_info th{
    border-bottom:1px solid #d0d0d0;
}


.user_career_info th, .user_career_info td{
    text-align:center;
    padding: 23px 5px;
 
}


.user_career_info tr{
    border-bottom: 1px solid #fafafa50;
}

.user_career_reason_ul {
    list-style: none;
    padding:0px;
}


.user_career_reason_ul li {
    padding: 2px 0px;
    line-height: 26px;
}


.user_career_reason_li{
    position: relative;
    top: 35px;
    

}


.user_career_reason_div{
    margin-top : 30px;
}




/************* 2번폼 **********************/



.user_career_2 {
    position: relative;
    width: 100%;
    margin: 100px auto 100px auto;
    padding: 10px 0px 50px 0px;
    text-align: center;
    background: linear-gradient(165deg, rgba(158, 174, 169, 0.5), rgba(173, 157, 132, 0.3));
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    cursor:pointer;
}


.user_career_2:hover{
    background: linear-gradient(165deg, rgba(121, 179, 161, 0.5), rgba(180, 150, 100, 0.3));
}

.user_career_info_2{
    position: relative;
    left: 16px;
    top: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 667px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
}


.user_career_reason_2 {
    position: relative;
    top:60px;
  
    font-size: 17px;
    width: 100%;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
   
    font-size:15px;
    opacity:0;
}



.user_career_info_2 th{
    border-bottom:1px solid #d0d0d0;
}


.user_career_info_2 th, .user_career_info_2 td{
    text-align:center;
    padding: 23px 5px;
 
}


.user_career_reason_ul_2 {
    list-style: none;
    padding:0px;
    margin: 0px;
}


.user_career_reason_ul_2 li {
    padding: 2px 25px;
    line-height: 26px;
}


.user_career_reason_li_2{
    position: relative;
    top: 35px;
    

}


.user_career_reason_div{
    margin-top : 30px;
}



/***************** 3번 폼 ***************************/




.user_certifi {
    position: relative;
    width: 700px;
    height: 400px;
    margin: 130px auto 100px auto;
    border-radius: 10px;
    background: linear-gradient(165deg, rgba(158, 174, 169, 0.5), rgba(173, 157, 132, 0.3));
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    cursor:pointer;
}


.user_certifi:hover{
    background: linear-gradient(165deg, rgba(121, 179, 161, 0.5), rgba(180, 150, 100, 0.3));
}

.user_certifi_info{
    position: relative;
    left: 16px;
    top: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    width: 667px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
}


.user_certifi_reason {
    position: relative;
    top:60px;
  
    font-size: 17px;
    width: 100%;
    height: 150px;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
   
    font-size:15px;
    opacity:0;
}

.user_certifi_info th{
    border-bottom:1px solid #d0d0d0;
}


.user_certifi_info th, .user_certifi_info td{
    text-align:center;
    padding: 23px 5px;
 
}



/********************  작업물 *****************************/

.portfolio_list {
    position: relative;
    width: 100%;
    min-height: 500px;
    margin: 0px auto 100px auto;
    text-align: center;
    background: linear-gradient(165deg, rgba(158, 174, 169, 0.5), rgba(173, 157, 132, 0.3));
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    opacity:0;
    cursor:pointer;
    padding:30px 0px;
}


.portfolio_list:hover{
    background: linear-gradient(165deg, rgba(121, 179, 161, 0.5), rgba(180, 150, 100, 0.3));
}



.portfolio_block{
    width:55%;
    min-width:1100px;
    min-height:500px;
    background:#ffffffaa;
    display:inline-block;
    border-radius: 5px;
    display:flex;
    margin: 100px auto 30px auto;
}



/**************** slick **************************/

.slick-dots{
    bottom:30px !important;
}

/***************** 채팅 **************************/

.chat{
  
    width: 250px;
    height: 435px;
    position: fixed;
    right: 20px;
    top: 100px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.22);
    overflow: hidden;
    cursor:grab;
}

.chat_space{
    
    width: 90%;
    margin: auto;
    
    border-radius: 5px;
    height: 355px;
    padding: 8px 8px;
    overflow: auto;

}


 /* IE10+ */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .chat_space{
    
        width: 101%;
        margin: auto;
        
        border-radius: 5px;
        height: 334px;
        padding: 8px 8px;
        overflow: auto;
    
    }
}
    
   /* IE6,7,9,10 */
@media screen , screen\9 {
   
}


.chat_space::-webkit-scrollbar {
    width: 6px;
  }
  .chat_space::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .chat_space::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
  }
  .chat_space::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

.chat_space_ul{ 
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding:0px;
}


.chat_space_ul li{
    list-style: none;
    padding: 8px 5px;
    word-break: break-all;
    box-shadow: 0px 0px 2px #d0d0d0;
    margin: 15px 0px;
}

.chat_div{
    width: 100%;
    position: absolute;
    bottom: 3px;
}

.chat_text{
   
    width: 59%;
    height: 19px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 5px 0px 5px 5px;
}



.send_button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px 5px;
    font-size: 1rem;
    line-height: 1.3;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 2px;
    margin-left:8px;
}


.time{
    font-size: 10px;
    text-align:right;
}

.msg{
   padding:5px 11px 15px 11px;
   text-align: left;
   font-size:0.8em;
}

.nickname{
    font-size: 10px;
    text-align:right;
}



.chat_num_div{
    padding: 7px 9px;
}


.chat_under{
    position:absolute;


}










/************  슬라이드 *******************/


.slide_div{
   width:400px;
   height: 100%;
   display:inline-block;
   margin:30px 50px;
}

.vertical .slick-slider{
   width:400px;
}


.horizontal .slick-slider{
   width:calc(100% - 100px);
}


.slick-slider img{
    margin: auto;
    width: 100%;
}

.slide_exp_div{
    width:100%;
    padding:50px 40px;
}


.slide_exp_line{
    display:flex;
    margin:0px 0px 40px 0px;
}

.slide_exp_line div{
    width:100%;
    text-align:left;
}




.slide_exp_title{
    font-size:1.2em;
    color:#0067a3;
    margin:0px 0px 8px 0px;
}


.slide_exp_word{
    
}